 h2 {
     color: ORANGE;
     font-family: fantasy;
     font-style: italic;
     font-weight: bolder;
     font-size: 60px;
     text-align: center;
 }
 body {
     background-color: black;
 }
 p {
     color: green;
     text-align: center;
     font-weight: Gras;
 }
 h1 {
     color: orange;
     text-transform: capitalize;
 }
 div {
     background-color: black;
     color: #fff;
     padding: 15px;
     border-bottom: 5px solid red;
     margin-bottom: 29px;
 }
 #gras {
     color: orange;
     font-size: 30px;
 }



 #mod {

  color : green;

 }


 ol {
   color : white;

 }



ul {
color : white;
text-align: center;
}



h4 {

color : white;
text-align: center;

}
