h2 {
color: ORANGE;
font-family: fantasy;
font-style: italic;
font-weight:   bolder;
font-size: 60px;
text-align: center;

}


body {
background-color: black;

}


p {
color: green;
text-align: center;
font-weight: Gras;

}



h1 {
color : red;
text-transform: capitalize;
}


 div {
   background-color:black;
   color:#fff;
   padding:15px;
   border-bottom:5px solid red;
   margin-bottom:15px;

     }



     #gras {

       color : red;
      font-size: 30px;


     }


#intro {


font-size: 20px;
font-style: oblique;


}


#sa {

color : red;

}
